.logoUnimayor-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 2rem; 
}

.logoUnimayor {
    width: 150px; 
    height: auto; 
    animation: glow 1.0s infinite alternate; 
    filter: drop-shadow(0 0 3px black) drop-shadow(0 0 5px black); 
}

@keyframes glow {
    0% {
        filter: drop-shadow(0 0 3px #F260FF) drop-shadow(0 0 5px #F260FF); 
    }
    100% {
        filter: drop-shadow(0 0 0px #F260FF) drop-shadow(0 0 15px #F260FF); 
    }
}

